

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#formBasicFirstName.form-control, #formBasicLastName.form-control {
  width: 85%;
  margin-left: 13.5px;
  margin-right: 3.6px;
}

#formBasicUpdateFirstName.form-control, #formBasicUpdateLastName.form-control {
  width: 85%;
  margin-left: 19.5px;
  margin-right: 61.6px;
}


#formBasicUsername.form-control,#formBasicPassword.form-control {
  width: 64%;
    margin-left: 8px;
}


.signupstuff {
  display: inline-flex;
}
.App {
  text-align: center;
  color: #333;
  background: #fafafa;
  min-height: 914px;
}
.logincontainer { 
  background-color:#fafafa;
  min-height: 800px; 
  margin-top: -25px; 
  padding-top: 60px; 
}

.Formlife {
  margin-left: 34%;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 34%;
  padding-bottom: 20px;
  padding-top: 20px;
}


.loginFormlife {
  margin-left: 38%;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 38%;
  padding-bottom: 14px;
  padding-top: 32px;
}

.EditFormlife {
  margin-left: 28%;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 34%;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 46%;
}

input {
  width: 200px;
  height: 38px;
}

.form-control {
  border-bottom: 2px solid #ccc;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  background:transparent;
}

input:after {
    color: red;
    content: "*";
}

.btn.btn-primary-submit {
  background: #002e76;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  margin-top: 28px;
  }


header p a{
  font-size: 19px;
  /* font-weight: 100; */
  float: left;
  color: #333;
  text-decoration:none;
}

.logo {
  width: 9.7%;
  margin-top: 18px;
  float: left;
  margin-left: 2%;
}




.brands img {
  max-width: 169px;
  padding-left: 6%;
  padding-right: 6%;
  vertical-align: middle;
  max-height: 124px;
}

html {
  background-color: #fff;
}

#formBasicSearch.form-control {
  background-color: #fafafa;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #14171a;
  font-size: 12px;
  height: 38px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all .2s ease-in-out;
  width: 44%;
  margin-top: 1.1%;
  margin-right: 17.6%;
}

.brands {
  background: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brands h1 {
  font-size: 39px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main {
  width: 100%;
  margin-top: 2.7%;
  display: inline-block;
}

.rightsidebar {
  FLOAT: RIGHT;
  background: #fff;
  width: 18%;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-left: 1px solid #ccc;
}

h1 {
      font-weight: 100;
    font-size: 50px;
}

.align-buttons {
  display: inline-flex;
}

.right-align-buttons {
  display: inline-flex;
  float: right;
  margin-top: -35px;
  padding-right: 1%;
}
a.dropdown-item {
  font-weight: 100 !important;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
}

.topcoolbutton {
  padding-right: 30px;
  float: right;
  margin-top: 6.5px;
  display: inline-flex;
  float: right;
  margin-top: 50px;
}

.topcoolbutton a {
  background: #002e76;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}

.topcoolbutton a:hover{
  background:#00183A;
}

.coolbutton {
  padding: 30px;
}

.blurbs {
  padding-top:10px;
  padding-bottom:50px;
}
.blurbs img {
  width: 60px;
}

.create_experience {
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url(https://www.digitalartsonline.co.uk/cmsdata/features/3674560/malika_favre_desktop_2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
.coolbutton a {
background: #002e76;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 65px;
padding-right: 65px;
border-radius: 100px;
box-shadow: none;
cursor: pointer;
font-size: 16px;
font-weight: bold;
line-height: 20px;
position: relative;
text-align: center;
white-space: nowrap;
color: #fff;
text-decoration: none;
}

.profile-nav a {
  text-decoration: none;
  font-weight:700;
}

input, textarea, select, p,button { 
  outline: none;
}

.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
  z-index: 1000;
  font-size: 17px;
  background: #fff;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 30px;
  height: 64px;
}

.profile-nav img {
  width: 33px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: -9px;
}

.editprofile {
  margin-top: 60px;
}

.editprofile h2 {
  margin-right: 447px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header a {
  text-decoration: none;
  padding: 5px;
  font-size:17px;
}


#formBasicTopicTitle.form-control {
  float: left;
  margin-left: 7%;
  font-size: 23px;
  margin-top: -23px;
  width: 282px;
}

.addtopiclogo {
  float: left;
  font-size: 26px;
  margin-left: 7%;
}
.addtopictitle {
  text-align: left;
  margin-left: 7%;
  font-size: 26px;
}

.toggleHandle {
  width: 55px !important;
  height: 30px !important;
  margin-top: -6px;
}

.logincontainer h2 {
  margin-top: 67px;
    margin-right: 181px;
}
.scrollTop {
  width: 62px;
  position: fixed;
  bottom: 20px;
  right: 25px;
}
.submitTopic {
  bottom: 46px;
  margin-left: 25%;
  position: absolute;
  display: flex;
}

.editprofilebuttons {
  margin-left: 7%;
  margin-top: 30px;
}

.submitTopic-btton {
  background: #002e76;
  width: 172px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  margin-right: 30px;
}

.submitTopic-btton-nevermind {
  background: #fff;
  width: 172px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: darkred;
  font-weight: 300;
  font-size: 14px;
  margin-right: 30px;
  border: 1px solid darkred;
}

.submitTopic-btton-nevermind:hover, .submitTopic-btton-delete:hover {
  background: darkred;
  color:#fff;
}


.submitTopic-btton-delete {
  background: #fff;
  width: 172px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: darkred;
  font-weight: 300;
  font-size: 14px;
  margin-right: 30px;
  border: 1px solid darkred;
}

.add-topic {
  background: #fff;
  width: 53%;
  margin-left: 25%;
  min-height: 734px;
  border: 1px solid #ccc;
  margin-bottom: 100px;
  padding-top: 14px;
  top: 109px;
  position: absolute;
}

.missing {
  width: 131px;
  float: left;
  margin-left: -17%;
  margin-top: 6.8%;
  opacity: .5;
}

.missing:hover {
  opacity: 1;
}

.addsourcehandle {
  float: left;
  font-size: 26px;
  margin-left: 51px;
  margin-top: 197px;
  position: absolute;
}
.handleLife img {
  padding-right: 8px;
}
#formBasicTopicInstagram,#formBasicTopicTwitter,#formBasicTopicYoutube {
  margin-left: 3px;
  font-size: 14px;
  width: 118px;
  height: 20px;
  margin-top: -3px;
  padding-left: 4px;
}

.handleLife {
  position: absolute;
  margin-top: 248px;
  margin-left: 7%;
  font-weight: 500;
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top:18%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uploadimage {
  background: #002e76;
  float: left;
  margin-top: 91px;
  margin-left: 20px;
  margin-bottom: 100px;
  width: 162px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}

.submitTopic-btton:hover,.uploadimage:hover {
  background:#00183A;
}




.add-topic img:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.addtopicstuff {
  /* display: flex;
  margin-bottom: -9px; */
}

.App-header h3 {
  color: #333;
  font-size: 20px;
  text-align: left;
  padding-left: 8px;
  margin-bottom: 9px;
}
.addtext a {
  color: #002E76;
  font-size: 27px;
  font-weight: 700;
  margin-left: 1px;
  margin-top: -8px;
}

.dropdown-toggle.btn.btn-success {
  border: 0px !important;
  font-size: 17px;
  color: #002E76;
}

.welcome {
  background: #fff;
  margin-top: 65px;
}

.dropdown {
  padding-right: 60px;
  margin-top: -1.5px;
}

a {
  color: #002E76;
}
.dropdown-menu.show {
  width: 139px;
  background: #ffff;
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin-left:-12px;
  background: padding-box padding-box rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  left: 0px;
  transform: translate3d(1294px, 53px, 0px);
  margin-top: 12px;
}

.newmain,.add-topic {
  background: #fff;
  width: 53%;
  margin-left: 25%;
  min-height: 250px;
  border: 1px solid #ccc;
  margin-bottom: 100px;
  top: 144px;
  position: absolute;
  padding-top: 39px;
}

.add-topic {
  min-height:637px !important;
}

.feedtitleimage {
  width: 30px;
  margin-left: 8px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.mainfeedtitle, .addtopictitle {
  font-size: 20px;
  margin-left: 25%;
  position: absolute;
  top: 79px;
  color:#333;
}

#login-error {
  color:darkred;
  padding-top:10px;
}
.App-header {
  display: flex;
  /* flex-direction: column;
  align-items: baseline; */
  color: #333;
  width: 293px;
  /* float: left; */
  margin-left: 1%;
  padding-bottom: 10px;
  min-height: 150px;
  position: absolute;
  top: 79px;
}

.sidebaritems {
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  float: left;
  padding-left: 8px;
  text-transform: capitalize;
  color: #333;
  width: 85px;
}

.addnewsidebaritems {
  width: 71px;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  float: left;
  padding-left: 8px;
  text-transform: capitalize;
  color: #333;
}

header p img { 
  margin-right: 7px; 
  max-width: 22px; 
  min-width: 75px; 
  min-height: 75px; 
  border: 1px solid #ddd; 
  margin-bottom: 2px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
